.git
.cargo
.cocoindex_code
.cocoindex*
.github
.opencode/package-lock.json
docs
rover-docs/.hugo_build.lock
rover-docs/.sst
rover-docs/node_modules
rover-docs/public
rover-docs/resources
target
**/target
**/node_modules
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.mov
.DS_Store
