[workspace]
resolver = "3"
members = ["cli" , "rover_core", "rover_server", "rover-lsp", "rover-parser", "rover_types"]

[profile.release]
opt-level = 3
lto = "fat"
codegen-units = 1
panic = "unwind"
